@import url('./global.css');

body {
  background-color: #F9F9F9;
}

.head-bar {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0;
  background-color: white;
}

.nav-logo {
  display: flex;
  justify-content: center;
  gap: 0 16px;
  height: 24px;
}

.nav-logo > img {
  object-fit: scale-down;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar > input {
  border: 1px solid #CCC;
  height: 40px;
  width: 404px;
}

.search-bar > button {
  width: 57px;
  height: 40px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  box-sizing: content-box;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 24px;
}

.options > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: scale-down;
  border: 1px solid #CCCC;
}


main {
  display: flex;
  justify-content: flex-end;
  gap: 0 32px;
  padding-top: 32px;
}

.video-content {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  width: 1024px;
}

.video-content > h1 {
  font-size: 20px;
  font-weight: 600;
}

.video-options {
  display: flex;
  gap: 0 48px;
  align-items: center;
}

.channel-information {
  display: flex;
  gap: 0 8px;
  align-items: center;
}

.channel-name-inscrito {
  display: flex;
  flex-direction: column;
}

.channel-name-inscrito > p {
  font-size: 14px;
  font-weight: 600;
}

.channel-name-inscrito > span {
  font-size: 14px;
  font-weight: 400;
}

.video-options > button {
  width: 159px;
  height: 40px;
  border: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background-color: #CC0000;
}

.like {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.deslike {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.compartilhar {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.download {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}

.visualizacao {
  font-size: 14px;
  font-weight: 600;
}

.descricao {
  width: 510px;
  font-size: 14px;
  font-weight: 400;
}

.video-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 16px 0;
}

.video-information {
  display: flex;
  flex-direction: row;
  height: 90px;
  gap: 0 8px;
}

.video-description {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  width: 196px;
}

.video-description > h1 {
  font-size: 14px;
  font-weight: 600;
}

.video-description > p {
  font-size: 12px;
  font-weight: 400;
}

.video-description > span {
  font-size: 12px;
  font-weight: 400;
  white-space: pre;
}